.App,
.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dialog {
  position: relative;
  padding: 1%;
  color: #fff;
  width: 90%;
  height: 85%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  border-radius: 5%;
}

.space-around {
  justify-content: space-around;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 1em);
  margin: 0 0 2em 0;
}
